.app {
  text-align: center;
  padding: 2rem;
}

.board {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.board:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.board-row {
  height: 12.5%;
}

.square {
  height: 100%;
  width: 12.5%;
}

.square-black {
  background-color: black;
}

.square-white {
  background-color: whitesmoke;
}
